body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  background-image: url(/images/truncbyh.gif);
}

h1 {
  font-size: 150%;
  color: #00ff00 ;

}

p {
  font-size: 100%;
  color: #00ff00;
}
